<!-- Page based on 'base.html' -->
{% extends "base.html" %} 

<!-- Styles for all forms -->
<!-- Are attached to 'base.html' -->
{% block style %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static',filename='styles/forms.css') }}"
/>
{% endblock %} 

<!-- Title -->
{% block title %} Add deposit {% endblock %} 

<!-- Content of the page -->
{% block page_body%}

<div class="form-div">
  <h1>Add deposit</h1>
  
  <!-- Empty div is used to add vertical line between header(left, code above) and form(right, code below) -->
  <div class="form-v-line"></div>

  <!-- This form is used to add a deposit -->
  <!-- Flask code read values by name of input -->
  <form method="POST">
    <!-- Add amount -->
    <!-- Breake into two parts -->
    <!-- Flask code will connect fields -->
    <div class="form-group">
      <label for="ad-amount-dollars">Amount</label>
      <!-- Input for dollars with $ before -->
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <input
          min="0"
          type="number"
          class="form-control"
          name="ad-amount-dollars"
        />
        <!-- Input for cents with ¢ before -->
        <div class="input-group-prepend">
          <span class="input-group-text">¢</span>
        </div>
        <input
          min="0"
          max="100"
          type="number"
          class="form-control"
          name="ad-amount-cents"
          placeholder="00"
        />
      </div>
    </div>

    <!-- Date selection -->
    <!-- Today is selected by default -->
    <div class="form-group">
      <label for="ad-date">Date</label>
      <input
        class="form-control"
        type="date"
        value="{{today}}"
        name="ad-date"
      />
    </div>

    <!-- Textarea for description -->
    <div class="form-group">
      <label for="ad-description">Description</label>
      <textarea
        maxlength="200"
        class="form-control"
        name="ad-description"
      ></textarea>
    </div>

    <!-- Submit -->
    <button
      type="submit"
      class="btn btn-dark form-submit"
      href="{{ url_for('add_deposit')}}"
    >
      Add deposit
    </button>
  </form>
</div>
{% endblock %}
