<!-- Page based on 'base.html' -->
{% extends "base.html" %}

<!-- Styles for all forms are attached to 'base.html' -->
{% block style %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{{ url_for('static',filename='styles/forms.css') }}" 
/>
{% endblock %}

<!-- Title -->
{% block title %} Edit withdrawal row {% endblock %}

<!-- Content of the page -->
{% block page_body %}
<div class="form-div">
  <h1>Edit withdrawal row</h1>

  <!-- Empty div is used to add vertical line between header(left, code above) and form(right, code below) -->
  <div class="form-v-line" style="height: 25rem;"></div>

  <!-- This form is used to edit a deposit -->
  <!-- Inputs values based on the values from row which is being edited -->
  <!-- Flask code read values by name of input -->
  <form id="from_depo" method="POST">
    <div class="form-group">
      <label for="edit-dollars">Amount</label>
      <!-- Input for dollars with $ before -->
      <!-- Value of this input is only integer part of amount -->
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <input 
          value="{{ row.amount|int|abs }}" 
          min="0" type="number" 
          class="form-control" 
          id="edit-dollars"
          name="edit-dollars" 
        />
        <!-- Input for cents with ¢ before -->
        <!-- Value of this input is only two decimal places -->
        <!-- Value of the 'value' calculated these decimal places -->
        <div class="input-group-prepend">
          <span class="input-group-text">¢</span>
        </div>
        <input 
          value="{{ (((row.amount|abs) % 1)*100) |round |int }}" 
          min="0" 
          max="100" 
          type="number"
          class="form-control" 
          id="edit-cents" 
          name="edit-cents" 
          placeholder="00" 
        />
      </div>
    </div>

    <!-- Date selection -->
    <div class="form-group">
      <label for="edit-date">Date</label>
      <input 
        class="form-control" 
        type="date" 
        value="{{row.date}}" 
        id="edit-date" 
        name="edit-date" 
      />
    </div>

    <!-- Category selection -->
    <div class="form-group">
      <label for="edit-category">Category</label>
      <select 
        class="form-select" 
        id="edit-category" 
        name="edit-category"
      >
        {% for category in ['Unsigned', 'Car', 'Food', 'Family', 'Taxes'] %}
          <option {{'selected' if category==row.category}}> {{category}} </option>
        {% endfor %}
      </select>
    </div>

    <!-- Textarea for description -->
    <div class="form-group">
      <label for="edit-description">Description</label>
      <textarea 
        maxlength="200" 
        class="form-control" 
        id="edit-description"
        name="edit-description"
      >{{row.description}}</textarea>
    </div>

    <!-- Cancel button -->
    <!-- Undo without making changes  -->
    <a 
      href="{{ url_for('ledger')}}" 
      class="btn btn-secondary"
    >Cancel
    </a>

    <!-- Submit button -->
    <button 
      type="submit" 
      class="btn btn-dark form-submit" 
      href="{{ url_for('edit_row', id_row_to_edit=row.id)}}"
      >Edit row
    </button>
  </form>
</div>
{% endblock %}