<!-- Page based on 'base.html' -->
{% extends "base.html" %} 

<!-- Title -->
{% block title %} Ledger {% endblock %} 

<!-- Content of the page -->
{% block page_body %}

<!-- This modal displayed only when user try to delete row -->
<!-- When user click delete in table(below), jQuery code -->
<!-- Get values from row and display it in this modal -->
<!-- If user accept to delete row in modal -->
<!-- Ledger with id_row is called, which delete row(app.py) -->
<div class="modal fade" tabindex="-1" aria-hidden="true" id="deleteModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Are you sure?</h4>
        <!-- X to close modal -->
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- In div below jQuery set text -->
      <div class="modal-body" id="modal-body"></div>
      <div class="modal-footer">
        <!-- Second button to close modal -->
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <!-- Button to delete row -->
        <form method="POST" >
          <button
            type="submit"
            class="btn btn-danger"
            id="delete-confirm-modal"
            name="id_row_to_del"
            value=""
          >Delete</button>
      </div>
    </div>
  </div>
</div>

<!-- jQuery get values and text from data-modal-question(delete button in table below)  -->
<!-- And set it into modal(above)  -->
<script>
  $(document).ready(function(){
    $('.delete-confirm').click(function(){
      var num = $(this).attr('value');
      var question = $(this).attr('data-modal-question');
      $('#modal-body').text(question);
      $('#delete-confirm-modal').attr("value", num);
    })
  }) 
</script>

<!-- Ledger displays only if it has 1 or more rows inside-->
{% if ledger_len == 0: %}
  <h1 >Your ledger is empty, fill it!</h1>
{% else: %}

<!-- Ledger - main part of this page -->
<h1 >Your ledger</h1>
<div >
  <table class="table">
    <thead>
      <tr>
        <!-- Headers of columns -->
        <th>Date</th>
        <th>Amount</th>
        <th>Balance</th>
        <th>Description</th>
        <th>Category</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <!-- This statement is useful to calculate balance inside ordered table -->
      {% set ordered_ledger = [] %}
      <!-- For each entry in ledger display row -->
      {% for entry in full_ledger %}
      <tr>
        <!-- Date -->
        <td>{{entry.date}}</td>
        <!-- Amount -->
        <td>{{"$%.2f"|format(entry.amount)}}</td>
        <!-- Post-transaction balance -->
        <td>{{ "$%.2f"|format(ordered_ledger|sum(ordered_ledger.append(entry.amount)))  }}</td>
        <!-- Description -->
        <td>{{entry.description}}</td>
        <!-- Category -->
        <td>{{entry.category}}</td>
        <!-- Actions buttons for each row-->
        <td>
            <!-- Edit button - when user click this btn, website redirect it to edit_row(app.py), with id choosen row -->
            <a 
              role="button" 
              class="btn btn-outline-primary" 
              href="{{ url_for('edit_row', id_row_to_edit=entry.id) }}"
              >Edit
          </a>
            <!-- Delete button - run modal -->
            <button
              type="button"
              class="btn btn-outline-danger delete-confirm"
              data-bs-toggle="modal"
              data-bs-target="#deleteModal"
              data-modal-question="{{ 'Delete row with amount: ${}, and category {}?'.format(entry.amount, entry.category) }}"
              value="{{ entry.id }}"
            >Delete
            </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
{% endblock %}
