/* In div with this id is displayed content of pages  */
/* In div with this id is not displayed: header, menu, footer */
#content{
    margin: 3rem 17rem;
}
h1, h3{
    font-family: 'KoHo', sans-serif;
    margin: 2rem 0;
}
footer{
    display: flex;
    justify-content: center;
    margin: 3rem 0 1rem 0;
}    position: absolute;
    display: inline;
    right: 0;
    margin-right: 1.5rem;
    color: rgb(79, 79, 161);
}
/* Change display if width of device is under 480px */
